.form-grp {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

#resetPassword {
	color: #333;
    font: 13px Arial,Verdana,Helvetica,sans-serif;
    text-align: left;
}

#resetPassword label {
    color: #3fadbe;
    float: left;
    font: 13px Arial,Verdana,Helvetica,sans-serif;
    padding: 0;
    width: 68px;
}

#resetPassword .form-grp label {
    width: 105px;
    padding: 0px;
}

#resetPassword {
	width: 493px;
}

#resetPassword input {
	width: 372px;
	float: right;
}


#resetPassword h1 {
    color: #a29142;
    font-size: 19px;
    margin-bottom: 12px;
}

#resetPassword .header {
	color: #666;
	 font: 13px Arial,Verdana,Helvetica,sans-serif;
	 padding-bottom: 20px;
}

#resetPassword .regaptchaImage {
	float: right;
}

#resetPassword .submitButton {
    background: transparent url("../img/gif_sprite_1.gif") no-repeat scroll 0 -1238px !important;
    color: #3fadbe !important;
    float: right;
    border: none;
    width: 140px;
}

#resetPassword .captchaImage {
	padding-top: 20px;
	padding-bottom:10px;
	float: right;
}