#passwordUpdate {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 13px;
	width: 300px;
}

#passwordUpdate .portlet-msg-error {
	width: 330px;
}


#passwordUpdate label {
    color: #3fadbe;
    font: 13px Arial,Verdana,Helvetica,sans-serif;
}

#passwordUpdate h1 {
	color: #a29142;
    font-size: 19px;
    margin-bottom: 12px;
}


#passwordUpdate .prfblueColor {
	color: #3FADBE;
}

#passwordUpdate .prfimgloader {
	border: 2px;
	height: 104px;
	width: 520px;
	float: left;
	margin: 5px;
}

#passwordUpdate .sevrity2 {
	background: url("../img/message-24-error.png") no-repeat scroll 7px
		center;
	border: 1px solid #ed541d;
	color: #fff;
	padding-left: 40px;
	margin-bottom: 10px;
	width: 133px;
	height: 25px;
	padding-top: 5px;
}

#passwordUpdate input.shortversion {
    margin-top: 5px;
    width: 245px;
}

#passwordUpdate .form-grp-halfsize {
	float: left;
	margin-bottom: 10px;
	width: 50%;
}


#passwordUpdate .header {
    color: #666;
    font: 13px Arial,Verdana,Helvetica,sans-serif;
    padding-bottom: 20px;
}


#passwordUpdate .aui-button-input {
	margin: 0;
	line-height: 1.3;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 10px 6px 7px;
}

#passwordUpdate .aui-button-input-submit {
	margin-top: 20px;
	padding: 0 8px;
	font-weight: normal;
}

#passwordUpdate .blueColor {
	color: #3FADBE;
}


#passwordUpdate .form-grp input {
    float: left;
    font-size: 12px;
}