.toolbox {
    background: url("../img/bg_box.gif") repeat-y scroll 0 0;
    float: left;
    margin-top: 15px;
    width: 210px;
}
.toolbox-top {
    background: url("../img/gif_sprite_1.gif") no-repeat scroll 0 -1781px;
    color: #a29142;
    float: left;
    font-size: 14px;
    font-weight: 700;
    padding: 0 11px 5px;
    width: 188px;
}
.toolbox-top h3 {
    background-color: #fff;
    color: #a29142;
    display: inline;
    padding: 0 3px 0 5px;
    vertical-align: top;
}
.toolbox-content {
    float: left;
    font-size: 12px;
    padding: 0 0px 11px;
}
.toolbox-footer {
    background: url("../img/gif_sprite_1.gif") no-repeat scroll 0 -1676px;
    float: left;
    font-size: 0;
    height: 5px;
    width: 210px;
}
.toolbox .acc-head {
    background-color: #f7f5ee;
    cursor: pointer;
    float: left;
    padding: 0 9px 0 10px;
    width: 187px;
}
.toolbox .acc-head p {
    cursor: pointer;
    font-weight: bold;
    padding: 4px 0;
}
.toolbox .acc-body {
    background-color: #f7f5ee;
    float: left;
    margin: 0;
    padding: 0 0px 0 10px;
    position: relative;
    width: 187px;
}
.toolbox .acc-body .add input {
    background: url("../img/add.png") no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 22px;
    width: 21px;
}
.toolbox .acc-head.arrow2 p {
    background: url("../img/bg_arrowgolddown.gif") no-repeat scroll right 9px;
    border-bottom: 1px solid #a09041;
}
.toolbox-content .acc-head a {
    background: url("../img/gif_sprite_1.gif") no-repeat scroll 0 -913px;
    color: #000!important;
    display: block;
    font-weight: 700;
    padding: 4px 0 4px 10px;
    text-decoration: none;
}
.toolbox .toolbox-content .acc-head p {
    display: none;
}
.toolbox .acc-head.arrow2 {
    background-color: #fff;
}
.toolbox .toolbox-content .acc-head.arrow2 a {
    display: none;
}
.toolbox .toolbox-content .acc-head.arrow2 p {
    display: block;
    margin: 0;
}
.toolbox .padd0 {
    padding: 0 0 11px;
}
.toolbox .toolbox-content .acc-head p, #right-col .toolbox-content .acc-head p {
    display: none;
}
.toolbox .acc-head.arrow2, #right-col .acc-head.arrow2 {
    background-color: #fff;
}
.toolbox .acc-body .add {
    cursor: pointer;
    height: 22px;
    left: 181px;
    position: absolute;
    top: 56px;
    width: 21px;
}

#contact .form-grp label {
    width: 67px;
}

#contact .wide-label {
    color: black;
    width: 400px !important;
}